body {
    background: #ebd5c7;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #51331f;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #8b6b62;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #51331f;
}

#mainNavbar .navbar-brand {
    color: #51331f;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #7d6757;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #8b6b62;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

